{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    form contact{
        width: 700px;
        margin-top : 100px;
        margin-right: auto;
        margin-left: auto;
    }

    #contact_message{
        width: 600px;
        height : 150px;
    }

    #contact_name , #contact_email , #contact_message{
        display: block;
        width: 100%;
        padding: .5rem 1.1rem;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #343a40;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.1);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    #contact_save{
        font-size: 1.375rem;
        color: #fff;
        background-color: #4582ec;
        border-color: #4582ec;padding: .5rem 1rem;
        font-size: calc(1.2625rem + .15vw);
        border-radius: 2.688em;
        margin-top:15px;
    }
</style>

<div class="example-wrapper">
    <h1>Contactez-nous ✅</h1>
    <h3>FAQ</h3>
    <h5>- Quelles données sont collectées?</h5>
    <p>Seuls votre email, votre mot de passe (hashé) et vos paris sont stockées dans nos bases de données. Vous pouvez demandez la suppresion de vos données en nous contactant via ce formulaire.</p>
    <h5>- Les résultats sont mis à jour au bout de combien de temps ?</h5>
    <p>Pour l'affichage de nos résultats, nous dépendons d'un de nos partenaires. <br> Le délai peut donc varier en fonction du temps de réponse entre nos serveurs.</p>

    {{ form(form) }}
</div>
{% endblock %}
