<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://bootswatch.com/5/litera/bootstrap.min.css" rel="stylesheet">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">MonPetitProno</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="/public/index.php/">Home
                                    <span class="visually-hidden">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/public/index.php/matchs">Matchs</a>
                            </li>
                            {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="/public/index.php/profil">Profil</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="/public/index.php/ranks">Classement</a>
                            </li>
                        </ul>
                    </div>

                    {% if app.user %}
                        <form action="/public/index.php/logout">
                            <button class="btn btn-secondary">Se déconnecter</button>
                        </form>
                    {% else %}
                        <form action="/public/index.php/register">
                            <button class="btn btn-outline-secondary">S'enregistrer</button>
                        </form>
                        <form action="/public/index.php/login">
                            <button class="btn btn-secondary">Se connecter</button>
                        </form>
                    {% endif %}
                </div>
            </nav>
            {% block body %}
            {% endblock %}
    </body>
</html>
