{% extends "base.html.twig" %}

{% block title %}Catalog product page!{% endblock %}

{% block body %}
        <h2> View findOneBy</h2>
        <li>{{ product.name }} au prix de {{ product.price }} euros</li>
{% endblock %}

