{% extends "base.html.twig" %}

{% block title %}Customer page!{% endblock %}

{% block body %}
    <h2> View customer findOneBy</h2>
    <li> Mr/Mme {{ customer.firstname }} {{ customer.lastname }} a {{ customer.age }} ans</li>
{% endblock %}

