{% extends "base.html.twig" %}

{% block title %}MonPetitProno!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <h1>MonPetitProno ! ✅</h1>
        <h5>Saisis tes pronos et découvre ton classement avec tes amis après chaque match 😅 (adieu ô vilains fichiers Exc*l)</h5><br>

        Les fonctionnalités de notre POC :<br>

        1. Home Page ✅<br>
        2. Création de compte ✅<br>
        3. Connexion compte ✅<br>
        4. Page avec liste des matchs ✅<br>
        5. Contact ✅<br>
        6. Info Compte ✅<br>
        7. Classement ✅<br>

        <br><br>
        Développé par Vitse Maxime (L3 apprentissage)  - Module de web avancé (A. Daudenthun)
    <div>
{% endblock %}
