{% extends "base.html.twig" %}

{% block title %}MonPetitProno!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <h1>MonPetitProno ! ✅</h1>
        Saisis tes pronos et découvre ton classement avec tes amis après chaque match 😅 (adieu ô vilains fichiers Exc*l)
    <div>
{% endblock %}
