{% extends "base.html.twig" %}

{% block title %}Home page!{% endblock %}

{% block body %}
    <h1>Symfony first home page with twig</h1>
    <h2> Routes :</h2>
    <a href="http://local.project.com/public/index.php/catalog">/catalog</a> <br>
    <a href="http://local.project.com/public/index.php/catalog/product">/catalog/product</a> <br>
    <a href="http://local.project.com/public/index.php/catalog/product/1">/catalog/product/{id}</a> <br>
    <a href="http://local.project.com/public/index.php/customers/">/customers</a> <br>
    <a href="http://local.project.com/public/index.php/customers/customer">/customers/customer</a> <br>
    <a href="http://local.project.com/public/index.php/customers/1">/customers/{id}</a> <br>



{% endblock %}

