{% extends "base.html.twig" %}

{% block title %}MonPetitProno!{% endblock %}

{% block body %}
    <h1>MonPetitProno ! ✅</h1>
    Saisis tes pronos et découvre ton classement avec tes amis après chaque match 😅 (adieu ô vilains fichiers Exc*l)
{% endblock %}
